<template>
	<span v-bind:class="{ warning: (calculateCountdownTime() <= 60*1000) }">
		<font-awesome-icon icon="clock"/>
		{{ print() }}
	</span>
</template>

<script lang="ts">
    import {Vue, Component, Prop, Emit} from 'vue-property-decorator';
    import Game from "../../objects/Game";

    type Countdown = {hours: number, minutes: number, seconds: number};

    @Component
    export default class GameCountdown extends Vue {
        @Prop(Game) gameObject: Game;
		intervalId;

        created() {
            console.log(this.gameObject);
            this.intervalId = setInterval(() => {
                if (this.gameObject.stopped) {
                    this.stopCountdown();
				}
				this.$forceUpdate();
				if (this.calculateCountdownTime() <= 0) {
				    this.emitEndGame();
                    this.stopCountdown();
				}
			}, 100);
		}

		beforeDestroy() {
            this.stopCountdown();
		}

		stopCountdown() {
            clearInterval(this.intervalId);
		}

		calculateCountdownTime(): number {
            return (this.gameObject.startTime.getTime() - new Date().getTime()) + this.gameObject.quiz.time*1000;
		}

        calculateCountdown(): Countdown {
            let time = this.calculateCountdownTime();
            time = time > 0 ? time : 0;
			return {
                hours: Math.trunc(time/(60*60*1000)),
                minutes: Math.trunc((time/(60*1000))%60),
                seconds: Math.trunc((time/1000)%60)
            };
		}

        formatNumber(number: number): string {
            return (number < 10 ? "0"+number : number.toString());
		}

        print(): string {
            const countdown = this.calculateCountdown();
			return this.formatNumber(countdown.hours) + ":" +
				this.formatNumber(countdown.minutes) + ":" +
				this.formatNumber(countdown.seconds);
		}

		@Emit('endGame')
        emitEndGame() {}
    }
</script>

<style scoped lang="scss">
	.warning {
		color: #dc3545;
	}
</style>

