<template>
	<App>
		<template slot="bar">
			<GameBar
				v-bind:gameObject="gameObject"
				@endGame="onEndGame"/>
		</template>
		<b-row>
			<b-col cols="12" sm="8" class="mt-4">
				<b-row>
					<b-col cols="12"
						   offset-sm="1" sm="10"
						   offset-md="2" md="8"
						   offset-lg="3" lg="6">
						<b-img v-if="gameQuestion.image"
							   rounded
							   center
							   fluid
							   :src="generateImageHyperlink()"/>
					</b-col>
				</b-row>
				<b-col cols="12"
					   offset-md="1" md="10"
					   offset-xl="2" xl="8"
					   class=" p-3">
					<b-row>
						<b-col cols="12">
							<h4 id="question" class="mt-2">
								{{ gameQuestion.question }}
							</h4>
							<b-checkbox-group stacked v-if="gameQuestion.multiple"
												   v-model="gameChoice">
								<b-checkbox
										v-for="answer in gameQuestion.answers"
										:key="answer.gid"
										:value="answer">
									{{ answer.content }}
								</b-checkbox>
							</b-checkbox-group>
							<b-radio-group stacked v-else
												v-model="gameChoice">
								<b-radio
										v-for="answer in gameQuestion.answers"
										:key="answer.gid"
										:value="answer">
									{{ answer.content }}
								</b-radio>
							</b-radio-group>
						</b-col>
						<b-col cols="12">
							<b-btn-group class="float-right">
								<b-btn variant="success"
									   :disabled="!!!gameChoice || gameChoice.length === 0"
									   @click="commitQuestion">Zatwierdź</b-btn>
								<b-btn variant="secondary"
									   @click="skipQuestion">Pomiń</b-btn>
							</b-btn-group>
						</b-col>
					</b-row>
				</b-col>
			</b-col>
			<b-col id="questions-block"
				   cols="12" sm="4" offset-xl="1" xl="3">
				<div class="question-block"
					 v-for="(question, index) in gameObject.gameQuestions"
					 v-bind:class="{'q-idle': question.state === 'idle', 'q-omitted': question.state === 'omitted', 'q-answered': question.state === 'answered', 'q-active': question.gid === gameQuestion.gid}">
					<span class="question-id" @click="changeQuestion(question)">
						Pytanie {{ index+1 }}
					</span>
					<div class="question-description d-inline-block d-sm-none d-md-inline-block">
						<template v-if="question.state === 'omitted'">
							Pominięte
						</template>
						<template v-else-if="question.state === 'answered'">
							Odpowiedziano
						</template>
					</div>
				</div>
			</b-col>
		</b-row>
		<b-modal
			ref="endGameModal"
			title="Przerwanie gry">

			Czy jesteś pewny, że chcesz zakończyć grę?
			<div slot="modal-footer">
				<b-btn-group>
					<b-btn @click="endGame()" variant="danger">Zakończ</b-btn>
					<b-btn @click="endGameModal.hide()" variant="secondary">Anuluj</b-btn>
				</b-btn-group>
			</div>
		</b-modal>
		<b-modal
				ref="resultGameModal"
				title="Podsumowanie gry"
				no-close-on-backdrop
				no-close-on-esc
				hide-header-close>

			Gratulacje! To podsumowanie Twojego rozwiązania quizu <b>{{ gameObject.quiz.name }}</b>
			<div class="quiz-information">
				<font-awesome-icon class="icon" icon="check-circle"/>
				{{ result }}
				<template v-if="result === 1">
					poprawna odpowiedź
				</template>
				<template v-else-if="result > 1 && result < 5">
					poprawne odpowiedzi
				</template>
				<template v-else>
					poprawnych odpowiedzi
				</template>
				z {{ gameObject.quiz.questionsAmount }}
				({{ Math.round((result / gameObject.quiz.questionsAmount)*100) }}%)
			</div>
			<div slot="modal-footer">
				<b-btn-group>
					<b-btn variant="danger" @click="exitGame">Wyjdź</b-btn>
				</b-btn-group>
			</div>
		</b-modal>
	</App>
</template>

<script lang="ts">
    import {Vue, Component, Prop, Emit, Watch} from 'vue-property-decorator';
    import App from "../../App.vue";
    import GameBar from "./GameBar.vue";
    import Game from "../../objects/Game";
    import ModalHelper from "../../objects/ModalHelper";
    import GameQuestion, {Answer} from "../../objects/GameQuestion";
    import Quiz from "../../objects/Quiz";

    @Component({
        components: {GameBar, App}
    })
    export default class GameView extends Vue {
        gameChoice: Answer|Answer[] = null;
		gameObject: Game = null;
		endGameModal: ModalHelper;
        resultGameModal: ModalHelper;
        gameQuestion: GameQuestion = null;
        result:number = null;

		beforeCreate() {
            Quiz.init(() => {
                Game.loadGame((game) => {
                    this.gameObject = game;
                    this.gameQuestion = this.gameObject.findGameQuestionById((this.$route.params as any).question);
                    this.gameChoice = this.gameQuestion.choice;
                    this.$forceUpdate();
                });
			});
		}

        created() {
            this.endGameModal = new ModalHelper(this, 'endGameModal');
            this.resultGameModal = new ModalHelper(this, 'resultGameModal');
        }

        commitQuestion() {
			this.gameQuestion.chooseAnswer(this.gameChoice);
            this.nextQuestion();
		}

		skipQuestion() {
            this.gameQuestion.skipQuestion();
            this.nextQuestion();
		}

		nextQuestion() {
            if (this.gameQuestion.gid < this.gameObject.gameQuestions.length) {
                let nextQuestion = this.gameObject.findGameQuestionById(this.gameQuestion.gid+1);
                this.changeQuestion(nextQuestion);
			}
		}

        changeQuestion(question: GameQuestion) {
            this.$router.push({ name: 'quizGameQuestion', params: { question: question.gid.toString()}});
            this.gameQuestion = this.gameObject.findGameQuestionById((this.$route.params as any).question);
            this.gameChoice = this.gameQuestion.choice;
			this.$forceUpdate();
        }

        generateImageHyperlink() {
		    return "rest/image/" + this.gameObject.quiz.qid + "/" + this.gameQuestion.image;
		}

        issetGameQuestion() {
            return this.gameQuestion instanceof GameQuestion && !!this.gameQuestion;
        }

        exitGame() {
            this.$router.push({name: 'quizBrowser'});
            this.$forceUpdate();
		}

        endGame() {
			this.gameObject.endGame((points) => {
                this.result = points;
                this.gameObject.stopped = true;
                this.resultGameModal.show();
			});
		}

		onEndGame(force: boolean) {
			if (!force) {
                this.endGameModal.show();
			} else {
			    this.endGame();
			}
		}
    }
</script>

<style lang="scss">
	#questions-block {
		overflow: hidden;
		padding-top: 5px;
		padding-left: 2px;
		margin-bottom: -1000px;
		padding-bottom: 1000px;
		display:inline-block;
		.question-block {
			font-weight: lighter;
			margin-left: auto;
			margin-right: auto;
			border-left: 3px solid black;
			padding-left: 5px;
			font-size: 14pt;

			&.q-idle {
				border-left-color: #838383;
			}

			&.q-omitted {
				border-left-color: #f3e73b;
			}

			&.q-answered {
				border-left-color: #b76f00;
			}

			.question-id {
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: -moz-none;
				-o-user-select: none;
				user-select: none;
			}

			&.q-active .question-id {
				font-weight: normal;
				color: #626262;
			}

			&:not(.q-active) .question-id:hover {
				cursor: pointer;
				font-weight: normal;
			}

			.question-description {
				float: right;
				line-height: 14pt;
				font-size: 10pt;
				font-style: italic;
			}
		}
	}
</style>
