<template>
	<b-navbar variant="light">
		<b-navbar-brand>
			<GameCountdown
				v-bind:gameObject="gameObject"
				@endGame="emitEndGame(true)"/>
		</b-navbar-brand>
		<b-nav-form>
			<b-btn @click="emitEndGame(false)" variant="danger">Zakończ</b-btn>
		</b-nav-form>
	</b-navbar>
</template>

<script lang="ts">
    import {Vue, Component, Prop, Emit} from 'vue-property-decorator';
    import Game from "../../objects/Game";
    import GameCountdown from "./GameCountdown.vue";
    @Component({
        components: {GameCountdown}
    })
    export default class GameBar extends Vue {
		@Prop(Game) gameObject: Game;

		@Emit('endGame')
		emitEndGame(force: boolean) {
		    return force;
		}
    }
</script>

<style lang="scss">
</style>

