<template>
	<App>
		<b-row>
			<QuizBrowserItem
					v-for="quiz in quizzes"
					:key="quiz.qid"
					v-bind:quiz="quiz"
					@active="chooseQuiz(quiz)"/>
			<b-modal
					ref="quizModal"
					v-if="activeQuiz !== null"
					v-bind:title="activeQuiz.name">
				{{ activeQuiz.description }}
				<div class="quiz-information">
					<font-awesome-icon class="icon" icon="clock"/>
					<div>
						{{ Math.trunc(activeQuiz.time/60) }}
						<template v-if="activeQuiz.time/60 < 2">minuta</template>
						<template v-else-if="activeQuiz.time/60 < 5">minuty</template>
						<template v-else>minut</template>
						<template v-if="activeQuiz.time%60 > 0">
							{{ activeQuiz.time%60 }}
							<template v-if="activeQuiz.time%60 <= 1">sekunda</template>
							<template v-else-if="activeQuiz.time%60 <= 4">sekundy</template>
							<template v-else>sekund</template>
						</template>
					</div>
				</div>
				<div class="quiz-information">
					<font-awesome-icon class="icon" icon="question-circle"/>
					<div>
						{{ activeQuiz.questionsAmount }}
						<template v-if="activeQuiz.questionsAmount === 1">pytanie</template>
						<template v-else-if="activeQuiz.questionsAmount <= 4">pytania</template>
						<template v-else>pytań</template>
					</div>
				</div>
				<div slot="modal-footer">
					<b-btn @click="startGame(activeQuiz)" variant="primary">Rozpocznij</b-btn>
					<b-btn @click="quizModal.hide()" variant="secondary">Rezygnuję</b-btn>
				</div>
			</b-modal>
		</b-row>
	</App>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator';
    import App from "../../App.vue";
    import QuizBrowserItem from "./QuizBrowserItem.vue";
    import Quiz from '../../objects/Quiz';
    import ModalHelper from "../../objects/ModalHelper";
    import Game from "../../objects/Game";

    @Component({
        components: {App, QuizBrowserItem}
    })
	export default class QuizBrowser extends Vue {
      	quizzes: Array<Quiz> = [];
        activeQuiz: Quiz = null;
		quizModal: ModalHelper;

        constructor() {
            super();
            this.quizModal = new ModalHelper(this, 'quizModal');
        }

        beforeMount() {
            Game.existsGame((exists, playable) => {
				if (exists && playable) {
                    this.$router.push({ name: 'quizGameQuestion', params: { question: "1" }});
				}
            });

			Quiz.init((quizzes: Quiz[]) => {
				this.quizzes = quizzes;
				this.$forceUpdate();
			});
		}

        startGame(quiz: Quiz) {
            this.quizModal.hide();
            Game.createGame(quiz, game => {
                this.$router.push({ name: 'quizGameQuestion', params: { question: game.gameQuestions[0].gid.toString() }});
			});
		}

		chooseQuiz(quiz: Quiz) {
		    this.activeQuiz = quiz;
		    let executes = 0;
		    let intervalId = setInterval(() => {
				if (executes++ > 10 || this.$refs.quizModal !== undefined) {
                    this.quizModal.show();
                    clearInterval(intervalId);
                }
			}, 1);
		}
	}
</script>

<style lang="scss">
	.quiz-information {
		padding: 6px;
		.icon {
			vertical-align: middle;
			font-size: 25px;
			margin-right: 4px;
			display: inline-block;
		}
		div {
			vertical-align: middle;
			font-size: 13pt;
			display: inline-block;
		}
	}
</style>