<template>
	<b-col cols="12" sm="6" md="4" lg="3" class="category-item">
		<b-card style="width: 100%"
				v-bind:img-src="quiz.thumbnail"
				img-top>
			<h5 slot="header">{{ quiz.name }}</h5>
			<p class="card-text">{{ quiz.description }}</p>
			<b-col cols="12" class="text-center">
				<b-button variant="primary" @click="emitActive()">Rozwiąż</b-button>
			</b-col>
		</b-card>
	</b-col>
</template>

<script lang="ts">
    import {Vue, Component, Prop, Emit} from 'vue-property-decorator';
    import Quiz from "../../objects/Quiz";


    @Component
    export default class QuizBrowserItem extends Vue {
        @Prop(Quiz) quiz: Quiz;

		@Emit('active')
		emitActive() {}
    }
</script>

<style lang="scss">
	.category-item {
		margin-bottom: 10px;
	}
</style>

