<template>
	<App>
		<b-row>
			<b-col cols="12"
				   offset-sm="2" sm="8"
				   offset-lg="3" lg="6">
				<b-card title="deyanix"
						sub-title="Michał Janiak">
					<b-row>
						<b-col cols="12">
							<p>Projekt wykonany przez ucznia Zespołu Szkół Centrum Kształcenia Praktycznego im. Ignacego Włodzimierza Garbolewskiego w Sochaczewie.</p>
						</b-col>
						<b-col class="mt-2 mb-1" offset="4" cols="4">
							<b-img src="static/avatar.png" fluid/>
						</b-col>
						<b-col cols="12">
							<p class="lead text-center">Copyright © 2019 deyanix. Wszystkie prawa zastrzeżone.</p>
						</b-col>
					</b-row>
				</b-card>
			</b-col>
		</b-row>
	</App>
</template>

<script>
	import App from '../../App.vue';
	import {Vue, Component} from 'vue-property-decorator';


	@Component({
		components: {App}
	})
	export default class AboutMe extends Vue {
	}
</script>

<style>

</style>