<template>
	<b-navbar variant="light" toggleable="md" id="navbar">
		<b-navbar-brand>Quiz informatyczny</b-navbar-brand>
		<b-navbar-toggle target="navbar-collapse"></b-navbar-toggle>
		<b-collapse is-nav id="navbar-collapse">
			<b-navbar-nav>
				<b-nav-item :to="{name: 'quizBrowser'}">Kategorie</b-nav-item>
				<b-nav-item :to="{name: 'aboutMe'}">O autorze</b-nav-item>
			</b-navbar-nav>
		</b-collapse>
	</b-navbar>
</template>

<script lang="ts">
    import {Vue, Component, Prop} from 'vue-property-decorator';

    @Component
    export default class NavBar extends Vue {
        @Prop(String) navbarTitle;
        @Prop(Array) navbarItems;
    }
</script>

<style lang="scss">
	#navbar {
		margin-bottom: 10px;
	}
</style>