<template>
	<div id="app">
		<slot name="bar">
			<NavBar/>
		</slot>
		<div class="container-fluid">
			<slot></slot>
		</div>
	</div>
</template>

<script lang="ts">
    import {Vue, Component} from 'vue-property-decorator';
    import NavBar from "./components/NavBar.vue";
    import "bootstrap";
    import Quiz from "./objects/Quiz";

    @Component({
        components: {NavBar}
    })
    export default class App extends Vue {
        constructor() {
            super();
		}
    }
</script>

<style lang="scss">
	@import "~bootstrap/scss/bootstrap";
	@import "~bootstrap-vue/dist/bootstrap-vue.css";
</style>

